<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commerce.services.mapper.ItemMapper">
   
    <select id="selectItems" parameterType="hashmap" resultMap="itemResultMap">
    select ITM_STYL_CLR.STYL_CLR_NBR as styleColorNumber,
    	   ITM_STYL_CLR.DESCRIPTION as description,
    	   ITM_STYL_CLR.COLR as color,
    	   ITM_STYL_CLR.STYLE as style,
    	   ITM_STYL_CLR.PRICE as price from ITM_STYL_CLR where  ITM_STYL_CLR.STYL_CLR_NBR = #{styleColorNumber}
    </select>
    
    <insert id="insertOrUpdateItem">
        insert into ITM_STYL_CLR
        (
        STYL_CLR_NBR,DESCRIPTION,COLR,STYLE,PRICE
        )
        values
        (
        #{styleColorNumber},#{description},#{color},#{style},#{price}
        )
        on duplicate key update
            DESCRIPTION=#{description},COLR=#{color},
            STYLE=#{style},PRICE=#{price}
    </insert>
    
    <delete id="deleteItem" parameterType="hashMap">
    	delete from ITM_STYL_CLR where STYL_CLR_NBR = #{styleColorNumber}
    </delete>

   
    <resultMap id="itemResultMap" type="com.commerce.model.item.Item">
        <result property="styleColorNumber" column="styleColorNumber"/>
        <result property="description" column="description"/>
        <result property="color" column="color"/>
        <result property="style" column="style"/>
        <result property="price" column="price"/>
    </resultMap>
</mapper>